.choice-container {
    display:flex;
    margin-bottom: 0.5rem;
    width:100%;
    font-size: 1.8rem;
    border: .1rem solid darkblue;
    background-color: lavender;
    color: darkblue;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: lavender;
    color: darkblue;
}

.choice-text {
    padding: 1.5rem;
}